<div class="module-navigation flex flex-col lg:flex-row list-none ml-auto">
  <ul class="">
  {% for item in site.data.navigation %}
    <li class="nav-item inline-block">
      <a class="{% if page.section == item.section %}current {% endif %}px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
         href="/{{ page.lang }}{{ item.link }}">
        {{ site.data.translations[page.lang][item.name] }}
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
