<div class="module-social-media ml-auto text-center">
  <em>{{ site.data.translations[page.lang]['followMeOn'] }}:</em>

  <ul class="text-lg">
    <li class="inline-block m-4">
      <a href="https://twitter.com/cyberyote" class="" title="Twitter">
        <i class="fab fa-twitter"></i> Twitter
      </a>
    </li>
    <li class="inline-block m-4">
      <a href="https://github.com/aluvar5501" class="" title="Github">
        <i class="fab fa-github-alt"></i> Github
      </a>
    </li>
  </ul>
</div>
