---
layout: default
---
<article class="rounded-md shadow-md mt-2 mb-4 p-5">

  <h1 class="text-5xl font-normal leading-normal">{{ page.title }}</h1>

  <p class="text-lg font-light leading-relaxed mb-4">{{ page.date | date: "%Y-%m-%d %H:%M" }} - {{ page.author }}</p>

  {{ content }}

</article>

<div id="disqus_thread" class="mt-8 px-6"></div>

<script>

    var disqus_config = function () {
    this.page.url = '{{ site.url }}{{ page.url }}';
    this.page.identifier = '{{ page.id }}';
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://aluvar5501-github-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();

</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
